body {
    background-color: blue;
    color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    /* font-size: 2em; */
    font-size: 82px;
    font-family: Arial, sans-serif;
}
